<div class="container-fluid main-container">
  <div class="form-group">
    <div class="card parameter-box">
      <div class="card-body">
        <button type="button"
          class="btn btn-sm btn-outline-primary top-btns"
          [disabled]="parameters.length == 0"
          (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseBasic">
          <div *ngIf="!isCollapsed"
            style="text-align:center">
            <fa-icon [icon]="faAngleUp"></fa-icon>
          </div>
          <div *ngIf="isCollapsed"
            style="text-align:center">
            <fa-icon [icon]="faAngleDown"></fa-icon>
          </div>
        </button>
        <button class="btn btn-sm btn-primary top-btns"
          (click)="getParameters(); isCollapsed = false">Get Parameters</button>
        <button class="btn btn-sm btn-success top-btns"
          [disabled]="parameters.length == 0"
          (click)="applyValues()">Apply Values</button>
        <button class="btn btn-sm btn-info top-btns float-right"
          (click)="useExampleQuery()">Try Example</button>
        <div id="collapseBasic"
          [collapse]="isCollapsed"
          [isAnimated]="true">
          <div class="row input-section">
            <div class="col-6"
              *ngFor="let param of parameters">
              <div class="d-flex justify-content-between">
                <label class="parameter-label"
                  for="basic-url">{{param.name}}</label>
                <div class="btn-group input-type-switcher"
                  btnRadioGroup
                  [(ngModel)]="param.inputType">
                  <label class="btn btn-sm btn-outline-primary mb-0"
                    btnRadio="Text">Text</label>
                  <label class="btn btn-sm btn-outline-primary mb-0"
                    btnRadio="TextArea">TextArea</label>
                  <label class="btn btn-sm btn-outline-primary mb-0"
                    btnRadio="Date">Date</label>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="text"
                  *ngIf="param.inputType == 'Text'"
                  [(ngModel)]="param.value"
                  placeholder="{{param.name}}"
                  class="form-control parameter-input"
                  id="basic-url"
                  aria-describedby="basic-addon3">
                <textarea type="text"
                  *ngIf="param.inputType == 'TextArea'"
                  [(ngModel)]="param.value"
                  placeholder="{{param.name}}"
                  class="form-control parameter-input"
                  id="basic-url"
                  aria-describedby="basic-addon3"></textarea>
                <div *ngIf="param.inputType == 'Date'"
                  class="w-100">
                  <input type="text"
                    [(ngModel)]="param.value"
                    placeholder="{{param.name}}"
                    class="form-control parameter-input"
                    bsDatepicker>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div style="height: 80vh">
    <ngx-monaco-editor style="height: 100%"
      [options]="editorOptions"
      [(ngModel)]="code"></ngx-monaco-editor>
  </div>
</div>
